:root {
  --color1: #335c8c;
  --color2: #122f60;
  --color3: aliceblue;
  --color4: #3c5b83;
  --color5: #bbd2ec;
  --color6: #041320;
  --color7: #052c54;
  --color8: #a3ceef;
  --colorbox: #e1cdcf;
  --colorGumball: #60a8be;
  --coloranais: #e58e99;
  --colordarwin: #c77e5a;
}
.active {
  color: var(--colorGumball) !important;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--color2);
  height: 100vh;
  width: 100vw;
  font-family: Garamond;
  overflow-x: hidden;
  overflow-y: scroll;
}
nav {
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  width: 100vw;
  height: 8vh;
  background-color: var(--color2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
}
.menu {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}
.menu-items {
  margin: 1%;
  font-size: larger;
  display: flex;
}
a {
  color: var(--color3);
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: var(--color4);
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}
.foot {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
  height: 77.2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  color: var(--color3);
  display: flex;
  flex-direction: column;
  padding: 1.5rem !important;
  margin: 0%;
  width: 40%;
}
.False {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-bottom: 0;
}
.desc {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color5);
}
.blue {
  width: 100%;
  border-radius: 10px;
  animation: myAnim 9s ease 0s infinite normal forwards;
}
@keyframes myAnim {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}
.ri {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.right {
  width: 70%;
  border-radius: 10px;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.button1 {
  border-radius: 40px;
  height: 10%;
  width: 25%;
  padding: 1.5%;
  border: 2px solid var(--color6);
  background-color: var(--color7);
  color: var(--color3);
  font-size: 24px;
  font-family: Garamond;
  cursor: pointer;
  transition: 0.5s;
}
.play {
  width: 25px;
  height: 25px;
  margin-right: 5%;
}
.button2 {
  width: 30%;
  border: 0;
  background-color: var(--color2);
  font-family: Garamond;
  font-size: 24px;
  color: var(--color3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button1:hover {
  background-color: var(--color1);
  color: var(--color8);
  border-color: var(--color7);
}
.button2:hover {
  color: var(--color8);
}
.trait-items {
  list-style-type: none;
  color: var(--color6);
  font-size: 24px;
  transition: 0.5s;
}
.Traits {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  background-color: rgba(96, 168, 190, 0.9);
  height: 100%;
}
.box {
  width: 100%;
  height: 10%;
}
.trait-items:hover {
  transform: scale(1.2);
  cursor: default;
}
.about {
  height: auto;
  width: 100vw;
  color: var(--color6);
  background-color: var(--colorGumball);
}
.me {
  margin: 0;
  padding-top: 1%;
  text-align: center;
}
.half {
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 26px;
}
.half1 {
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}
.bs {
  font-size: 24px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background: rgba(18, 47, 96, 0.8);
}
.gum {
  width: 25%;
  border-radius: 20px;
}
.ball {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 3rem;
}
.gumbal {
  width: 80%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.da {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 1rem;
}
.dar {
  width: 80%;
  padding-right: 1.5rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bsg {
  font-size: 24px;
}
.ana {
  width: 50%;
  padding-left: 1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ra {
  width: 50%;
  padding-right: 1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gumball {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.imagesa {
  width: 35%;
}
.images {
  width: 65%;
}
.gumb {
  border-radius: 20px;
  padding: 1rem;
}
.guball {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dANDg {
  display: flex;
  justify-content: space-evenly;
}
.an {
  display: flex;
  justify-content: space-evenly;
}
.funny {
  width: 40%;
}
.penball {
  width: 45%;
}
.shrug {
  width: 35%;
}
.gif {
  width: 40%;
}
.daisy {
  width: 40%;
}
.anais {
  width: 40%;
}
.darwin {
  width: 55%;
}
.orange {
  width: 35%;
}
.nanda {
  width: 45%;
}
.randn {
  width: 45%;
}
.cuute {
  width: 43%;
}
.darwinandgum {
  width: 50%;
}

.clips {
  height: auto;
  width: 100vw;
  background-color: var(--colordarwin);
  color: var(--color6);
}
.serve {
  margin: 0;
}
.music {
  display: inline-block;
  vertical-align: baseline;
}
.goodbye {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.gbye {
  width: auto;
  height: auto;
}
.clown {
  width: 85%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.theories{
  background-color: var(--coloranais);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clown2{
  width: 17.5%;
}
.clown1{
  width: 17.5%;
}
.vidsc{
  width: 100%;
  display: flex;
}
.clowns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}